body
{
  background-color:#DEF5E5;
}
hr
{
  background-color:white;
  border-style:none;
  border-top-style:dotted;
  border-color:#00ABB3;
  border-top-width: thick;
  width:10%;
}
img
{
  height:150px;
}
h1
{
  color: #00ABB3;
}
h3
{
  color:#00ABB3;
}
h4
{
  color:#00ABB3;
}
